.float{
cursor: pointer;
opacity: 0.8;
position: fixed;
bottom: 4%;
right: 4%;
}
.float-btn{
    background: rgb(255, 0, 85);
    color:white;
    border-radius: 75px;
    width: 60px;
    height: 60px;
    border:none;
    font-size: xx-large;
}