:root {
  --select-1:#495dc6;
  --select-2:#3cada3;
  --select-3:#37c172;
  --select-4:#f4ca64;
  --select-5:#7950f2;
  --select-6:#4c6ff5;
  --select-7:#339af0;
  --select-8:#22b8cf;
  --select-9:#21c997;
  --select-10:#50cf66;
  --select-11:#94d82c;
  --select-12:#fcc418;
  --select-13:#ff922b;
  --select-14:#cb5de8;
  --select-15:#f06594;
  --select-16:#ff6b6b;
  --white-1:#f8f9fa;
  --white-2:#f1f3f5;
  --white-3:#e9ecef;
  --gray-1:#dee2e6;
  --gray-2:#ced4da;
  --gray-3:#adb5bd;
  --gray-4:#868e96;
  --black-1:#495057;
  --black-2:#343a40;
  --black-3:#212529;
}